In [68]:
from sklearn import tree

O Import abaixo é apenas para não mostrar alguns warnings relacioandos a métodos não atualizados na biblioteca

In [69]:
import warnings
warnings.filterwarnings("ignore")

### Características:
* Peso
* Textura
    * 1 - Suave
    * 0 - Irregular

### Rótulo
* 0 - Maçã
* 1 - Laranja

In [70]:
caracteristicas = [[140,1], [150,1], [150,0], [170,0]]
rotulo = [0,0,1,1]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(caracteristicas, rotulo)

In [71]:
clf.predict([160,0])

array([1])

### Vamos deixar a previsão mais visível

In [72]:
if clf.predict([160,1])[0] == 0:
    print('Macã')
else:
    print('Laranja')

Macã

### Ajustes para visualizar melhor os dados

In [73]:
import pandas as pd
from pandas import DataFrame

In [74]:
frutas = DataFrame(caracteristicas)

In [75]:
rotulos = DataFrame(rotulo)

In [76]:
frutas = pd.concat([frutas, rotulos], axis=1)

In [77]:
frutas

     0  1  0
0  140  1  0
1  150  1  0
2  150  0  1
3  170  0  1

In [78]:
frutas.columns = ['Peso', 'Textura', 'Rotulo']

In [79]:
frutas

   Peso  Textura  Rotulo
0   140        1       0
1   150        1       0
2   150        0       1
3   170        0       1

In [80]:
frutas.Rotulo = frutas.Rotulo.astype(str).replace('0', 'Maca')

In [81]:
frutas.Rotulo = frutas.Rotulo.astype(str).replace('1', 'Laranja')

In [82]:
frutas

   Peso  Textura   Rotulo
0   140        1     Maca
1   150        1     Maca
2   150        0  Laranja
3   170        0  Laranja

In [83]:
frutas.Textura = frutas.Textura.astype(str).replace('0', 'Irregular')
frutas.Textura = frutas.Textura.astype(str).replace('1', 'Suave')

In [84]:
frutas

   Peso    Textura   Rotulo
0   140      Suave     Maca
1   150      Suave     Maca
2   150  Irregular  Laranja
3   170  Irregular  Laranja